.jumbotron {
	height: 2000px;
}

.banner {
	height: 600px;
	background-color: lightpink;
	padding: 30px 20px;
}

.hover {
	transition: all 0.2s linear;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>li>a {
	color: #333;
	font-weight: bold;
	font-size: 20px;
	transition: all 0.4s linear;
}

.half-way.navbar-default .navbar-brand,
.half-way.navbar-default .navbar-nav>.active>a,
.half-way.navbar-default .navbar-nav>li>a {
	color: #FFF;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
	color: #999;
}